---
layout: default
section: blog
---

<div class="mdl-grid">

{% for item in site.categories.blog limit:1000 %}

    {% if item.type == "preview-image" %}

    <section class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp">

    <header class="blog-thumb section__play-btn mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--teal-100 mdl-color-text--white">
        <!--<i class="material-icons">play_circle_filled</i>-->
        <img src="images/{{item.splash}}"/>
    </header>

    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>{{item.title}} <span class='date'> ~ {{item.date | date:"%b %d"}}</span></h4>
            {{item.description}}
        </div>
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Go</a>
        </div>
    </div>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{forloop.index}}">
        <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{forloop.index }}">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
        </section>

    {% endif %}

    {% if item.type == "minimal" %}
    <section class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-phone mdl-shadow--2dp">

    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>{{item.title}}</h4>
            {{item.description}}
        </div>
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Go</a>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
    </section>

    {% endif %}

{% endfor %}

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"></section>

</div>