<header class="mdl-layout--large-screen-only mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <img class="header-logo" src="images/ACK WHT-01.svg"/>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
</header>

<header class="mdl-layout--small-screen-only mdl-layout__header mdl-layout__header--scroll mdl-color--white">
    <img class="header-logo small" src="images/ACK BLK-01.svg"/>
</header>