---
title: 'Aux Cord Kings'
---

<html lang="en">

{% include head.html %}

<body class="mdl-demo mdl-color--white-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        {% include header.html %}

    <main class="mdl-layout__content">

        <div class="introduction mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
            {{site.data.home.about}}
        </div>

        <div class="mdl-layout__tab-panel is-active" id="overview">
                {{content}}
        </div>

        <!--{% include footer.html %}-->

    </main>

</div>
</body>

{% include scripts.html %}

</html>
