body {
  font-family: 'Space Mono', monospace;
}

.header-logo {
  margin: 0 auto;
  height: 70px;
}

@media (min-width: 840px) {
  .introduction {
    padding: 45px 20px 15px 20px;
  }

  .header-background {
    background: rgb(228, 228, 228) !important;
  }
}

@media (max-width: 840px) {

  .header-logo.small {
    height: 60px;
    padding: 0;
  }

  .introduction {
    padding: 0px 20px;
  }

  .mdl-demo main > .mdl-layout__tab-panel {
    padding: 0;
  }
  .head-logo-container {
    text-align: center;
  }
}

.blog-thumb {
  max-height: 200px !important;
  overflow: hidden;
  background: white !important;
  margin: 0;
  width: 100% !important;
}

.blog-thumb img {
  width: 100%;
}